<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>

{{#user}}
<h3>Welcome, {{firstName}}!</h3>
<a href="logout">Logout</a>
<br><br>

<div class="messageBox">Below are your recent messages.<br>
{{#messageBox}}
    <b>{{content}}</b> from {{#sender}}{{firstName}} {{lastName}}{{/sender}}
    <form action="reply" method="post" style="display: inline;">
        <input type="hidden" name="id" value="{{#sender}}{{id}}{{/sender}}"/>
        <button type="submit">Reply</button>
    </form>
    <form action="delete-message" method="post" style="display: inline;">
        <input type="hidden" name="id" value="{{id}}"/>
        <button type="submit">Delete</button>
    </form><br>
{{/messageBox}}

{{#showNext}}
<a href="/?page={{nextPage}}">Next</a>
{{/showNext}}
</div>
<br>
{{/user}}
<br>

<div class="people">
{{#users}}
{{firstName}} {{lastName}} - Age: {{age}} Location: {{location}} {{#job}}Job: {{position}} at {{company}}{{/job}}
<form action="info" method="post" style="display: inline;">
    <input type="hidden" name="id" value="{{id}}"/>
    <button type="submit">View {{firstName}}'s Profile</button>
</form>
<br>
{{/users}}
</div>

<div class="friendsList">
    {{#friends}}
    {{firstName}} - {{location}}
    {{/friends}}
</div>
</body>
</html>